body {
  background-color: ghostwhite;
}

header {
  color: #f5f5f5;
  text-align: center;
  font-size: 25px;
}

.Header {
  float: left;
  width: 100%;
  text-align: center;
  background: mediumorchid;
  border-radius: 20px;
  text-shadow: 2px 2px 4px black;
}

h3{
  color: #f5f5f5;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  padding: 10px;
  background-color: mediumorchid;
  border-radius: 20px;
  position: relative;
  z-index: 2;

}

p{
  color: black;
}

footer{
  background-color: darkgrey;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

table{
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  border-radius: 20px;
  padding: 10px;
  padding-top: 20px;
  position:relative;
  bottom: 40px;
  width: 100%;
  background-color: Gainsboro;
  z-index: 1;
}

td {
  background-color: darkgray;
}

th, td, tr {
  border-radius: 20px;
  border: 1px;
  padding-right: 30px;
  padding: 5px;
  border-radius: 10px;
}

button {
  padding: 10px;
  float:left;
  width: 25%;
  border-radius: 20px;
}

.space {
  visibility: hidden;
  font-size: 1px;
  padding: 5px;
}

.space2 {
  visibility: hidden;
  font-size: 1px;
  padding: -100px;
}

.MissionStatement {
  text-align:center;
  background-color: Gainsboro;
  border-radius: 20px;
}

hr {
  color: gray
}
/* Navigation Bar */
nav li 	 {list-style: none;} /* No bullets */

nav a 	 {text-decoration: none;} /* No underline on links in navbar */

/* flex layout lets the navbar be responsive to screen size */
.navbar   { display: flex; align-items: center; padding: .5rem;}

/* Sets margins around nav items */
.nav-item { margin-left: 2rem; margin-right: 4rem;}

/* Sets the look of the links */
.nav-link{ font-size: 1.6rem; font-weight: 400; color: gray;}

/* Changes color of link when hover over it */
.nav-link:hover { color: mediumorchid;}

/* z-index makes sure menu shows up on top of other elements,
   transition is speed menu items transition to active
   left: -100% hides the menu off the screen when it's not active */
.nav-menu {
    z-index: 3;
    position: fixed;
    left: -100%;
    top: 27%;
    flex-direction: column;
    border:3px solid DimGray;
    border-radius: 25px;
    background:Gainsboro;
    text-align: center;
    display: block;
    transition: 0.3s;
}

/* When menu is active display it on the side by setting its left
position to 0 (no longer hiding at left position -100%) */
.nav-menu.active {
  display: block;
    left: 0;
}

/* display the hamburger as a clickable button, but make it blend in */
.hamburger {
    position: relative;
    top: 13px;
    width: 100%;
    text-align: center;
    background: Gainsboro;
    border-radius: 25px;
    background: Gainsboro;
    border: gray;
}

/* draw the hamburger--all spans will be filled with dark background and stacked on top of each other */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: dimgray;

}

/* When hamburger is active, hide middle bar */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

/* When hamburger is active, rotate top bar 45deg to make one cross of X */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

/* When hamburger is active, rotate bottom bar -45deg to make other cross of X */
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1156px) {
  button {
    padding: 10px;
    float:left;
    width: 100%;
    border-radius: 20px;
  }

@media (max-width: 651px) {
  .Header{
    font-size: 75%;
  }

  th, td, tr {
    border: 1px;
    /* padding-left: 30px; */
    padding-right: 10px;
    padding: 5px;
    border-radius: 10px;
  }

  table{
    font-size: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
    position:relative;
    bottom: 40px;
    width: 100%;
    background-color: Gainsboro;
    z-index: 1;

  }

    button {
      padding: 10px;
      float:left;
      width: 100%;
      border-radius: 20px;
    }

  }
}

@media (max-width: 345px) {
  table{
    font-size: 25%;
  }
  /* .nav-link {
    font-size: 75%;
  } */
}

  @media (max-width: 225px) {
    table{
      font-size: 10%;
    }
    /* .nav-link {
      font-size: 50%;
    }
    .nav-item { margin-left: 0rem; margin-right: 2rem;}
  } */
