body {
  background-color: purple;
}

header {
  background-color: purple;
  color: white;
  text-align: center;
  padding-top: 8px;
  text-shadow: 2px 2px 4px black;
  font-size: 25px;
}

p{
  color: black;
}

footer{
  background-color: darkgrey;
  padding: 5px;
}

/* Navigation Bar */
nav li 	 {list-style: none;} /* No bullets */

nav a 	 {text-decoration: none;} /* No underline on links in navbar */

/* flex layout lets the navbar be responsive to screen size */
.navbar   { display: flex; align-items: center; padding: .5rem;}

/* Sets margins around nav items */
.nav-item { margin-left: 2rem; margin-right: 4rem;}

/* Sets the look of the links */
.nav-link{ font-size: 1.6rem; font-weight: 400; color: DimGray;}

/* Changes color of link when hover over it */
.nav-link:hover { color: mediumseagreen;}

/* z-index makes sure menu shows up on top of other elements,
   transition is speed menu items transition to active
   left: -100% hides the menu off the screen when it's not active */
.nav-menu {
    z-index: 3;
    position: fixed;
    left: -100%;
    top: 27%;
    flex-direction: column;
    border:3px solid DimGray;
    border-radius: 25px;
    background:ivory;
    text-align: center;
    display: block;
    transition: 0.3s;
}

/* When menu is active display it on the side by setting its left
position to 0 (no longer hiding at left position -100%) */
.nav-menu.active {
  display: block;
    left: 0;
}

/* display the hamburger as a clickable button, but make it blend in */
.hamburger {
    float: left;
    width: 100%;
    text-align: center;
    background: ivory;
    border-radius: 25px;
    background: ivory;
    border: none;
}

/* draw the hamburger--all spans will be filled with dark background and stacked on top of each other */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: dimgray;

}

/* When hamburger is active, hide middle bar */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

/* When hamburger is active, rotate top bar 45deg to make one cross of X */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

/* When hamburger is active, rotate bottom bar -45deg to make other cross of X */
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* .dark-mode {
  float: left;
  width: 100%;
  text-align: center;
  background: dimgray;
  border-radius: 20px;
  cursor: pointer;
  padding: 0;
  border: none;
}

.dark-square {
  display: block;
  width: 45px;
  height: 35px;
  border-radius: 5px;
  left: 10%;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  color: ivory;
}

.dark-mode.active{
  background: ivory;
}

.dark-mode.active .dark-square{
  color: dimgray;
} */

/* body.active{
  background-color: DimGray;
  color: ivory;
}

h1.active, h3.active, h6.active {
  color: dimgray;
}

p.active {
  color: white;
} */

@media (max-width: 601px) {
  .nav-menu {
    left: -800px;
  }
}

@media (min-width: 801px) {
  .hamburger {
    visibility: hidden;
}
.nav-menu {
  position: absolute;
  left: 3%;
  top: 75px;
  border:0px solid DimGray;
  float: left;
  width: 90%;
  height: 40px;
}

.navbar   {text-align: center; display: flex; align-items: center; padding: .5rem;}

.nav-item {
  float:left;
  width: 10%;
}

.nav-link{text-align: center; font-size: 15px; font-weight: 100; color: DimGray;}
}

@media (max-width: 345px) {
  .Table table{
    font-size: 50%;
  }
  .nav-link {
    font-size: 75%;
  }
  .nav-item { margin-left: 2rem; margin-right: 4rem;}

  @media (max-width: 225px) {
    .Table table{
      font-size: 25%;
    }
    .nav-link {
      font-size: 50%;
    }
    .nav-item { margin-left: 0rem; margin-right: 2rem;}
